*{
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
  color: #39d353;;
}
button{
  color: #39d353;
  background-color: black;
  border: 1px solid #39d353;
  padding: 0.5rem 2rem;
}
input{
  color: #39d353;
  background-color: black;
  /* border: 1px solid #39d353; */
  border: none;
  padding: 0.5rem 2rem;
  outline: 1px solid #39d353;
}
.header-wrapper{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  padding: 1rem;
}
.wrapper{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px
}
.card{
  /* display: flex; */
}